.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black,.85);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;




    &__content {
        width: 90%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        @include position-center;
        border-radius: 3px;
        position: fixed;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.20);
        transition: all .6s .2s /* animation delay .2s*/;
   

        
        @include respond(tab-land) {
            width: 95%;
        }

        @include respond(tab-port) {
            width: 90%;
            padding: 2rem;
        }


        @include respond(phone) {
            width: 99%;
            padding: 1rem;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
        

        @include respond(tab-port) {
            width: 100%;
            display: table;
            @include clearfix;
         
        }
        @include respond(phone) {
            width: 100%;
            display: inline-block;
        }

    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            display: block;
            width: 100%;
            padding: 2rem 4rem;
        }

        
        @include respond(phone) {
            width: 100%;
            display: block;
            padding: 0 2rem;
        }
    }

    &__img {
        display: block;
        width: 101%;
        transform: translateZ(0);

        
        @include respond(tab-land) {
            height: 25rem;
        }

        @include respond(tab-port) {
            display: inline-block;
            width: 45%;
            height: 30%;
            margin: 1rem;
            &:not(:first-child) {
                float: right;
            }
        }
        
        @include respond(phone) {
            display: inline-block;
            padding: 1rem 0;
            width: 45%;
            height: 25%;
            
        }
        
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        transform: translateZ(0);

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        hyphens: manual; /*becouse auto is not working*/

        @include respond(phone) {
            text-align: center;
            -moz-column-count: 1;
            -moz-column-gap: 0rem;
            -moz-column-rule: 1px solid $color-grey-light-2;
    
            column-count: 1;
            column-gap: 0rem;
            column-rule: 1px solid $color-grey-light-2;

            color: $color-black;
            font-size: 1.5rem;
        }

    }
    //open states
    
    &:target {
        opacity: 1;
        visibility: visible;
    }
        //.popup:target {opcity: 1; visibility: visible;} whan we click the targer this properties will aply

    &:target &__content {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }


    &__close {
        color: $color-grey-dark;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        line-height: 1;
        &:hover {
            color: $color-primary;
        }

        
        @include respond(tab-port) {
            position: absolute;
            top: .5rem;
            right: 1rem;
            color: darken($color-secondary-dark, 10%);
        }

        @include respond(phone) {
            position: absolute;
            top: .5rem;
            right: 1rem;
            color: darken($color-secondary-dark, 10%);
        }
        
    
    }

    

}